.m-narrative {
  &__content {
    display: none;

    @media (min-width: @device-width-medium) {
      display: block;
      .u-float-right;
      margin-left: 3%;
      width: 37%;

      .dir-rtl & {
        margin-left: inherit;
        margin-right: 3%;
      }
    }
  }

  // --------------------------------------------------
  // Strapline
  // Clickable element on mobile, opens notify
  // --------------------------------------------------
  &__strapline {
    position: relative;

    @media (min-width: @device-width-medium) {
      display: none;
    }
  }

  &__strapline-header {
    position: relative;
    overflow: hidden;
  }

  &__strapline-title {
    position: relative;
    .u-float-left;
  }

  &__strapline-title.focus-rect {
    position: absolute;
    right: extract(@focus-outline, 1);
    bottom: extract(@focus-outline, 1);
    top: extract(@focus-outline, 1);
    left: extract(@focus-outline, 1);
  }

  &__strapline-text {
    margin-right: @icon-size + (@item-padding * 2);
    padding: @item-padding;
    line-height: @icon-size;

    .dir-rtl & {
      margin-right: inherit;
      margin-left: @icon-size + (@item-padding * 2);
    }
  }

  &__strapline-text-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__strapline-icon {
    position: absolute;
    top: 0;
    right: 0;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }

    .icon {
      .icon-plus;
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Graphic
  // --------------------------------------------------
  &__slide-container {
    position: relative;
    .u-float-left;
    width: 100%;
    overflow-x: hidden;

    @media (min-width: @device-width-medium) {
      float: none;
      width: 60%;
    }
  }

  &__slider-graphic {
    .u-float-left;
  }

  // --------------------------------------------------
  // Controls and progress
  // --------------------------------------------------
  &__controls-container {
    position: relative;
  }

  &__controls {
    position: absolute;
    top: 50%;
    z-index: 10;
    .transform(translateY(-50%));
  }

  &__control-left {
    left: 0;

    .dir-rtl & {
      left: inherit;
      right: 0;
    }

    .icon {
      .icon-controls-left;
    }
  }

  &__control-right {
    right: 0;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }

    .icon {
      .icon-controls-right;
    }
  }

  &__indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__progress {
    height: @icon-size / 2;
    width: @icon-size / 2;
    margin: 0.25em;
    cursor: pointer;
    background-color: @background-color;
  }

  // --------------------------------------------------
  // When the disable animation class is not present add a transition effect
  // to the narrative graphic on desktop and strapline on mobile
  // --------------------------------------------------
  html:not(.disable-animation) & {
    &__slider,
    &__strapline-header-inner {
      .transition(transform 400ms ease-in-out);
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Controls located in text content area
  // Could we refactor this better?
  // --------------------------------------------------
  &__content {
    .m-narrative__controls,
    .m-narrative__indicators {
      display: none;
    }
  }

  &__text-controls {
    .m-narrative__content {
      position: relative;
      padding-top: @icon-size + (@icon-padding * 2);

      .m-narrative__indicators {
        display: flex;
      }

      .m-narrative__controls-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .m-narrative__controls {
        position: relative;
        top: 0;
        display: block;
        transform: none;
      }
    }

    .m-narrative__slide-container {
      .m-narrative__controls,
      .m-narrative__indicators {
        display: none;
      }
    }
  }
  // --------------------------------------------------
}

.accessibility {
  .m-narrative {
    &__control-left:focus,
    &__control-left.focus {
      left: extract(@focus-outline, 1);

      .dir-rtl& {
        left: inherit;
        right: extract(@focus-outline, 1);
      }
    }

    &__control-right:focus,
    &__control-right.focus {
      right: extract(@focus-outline, 1);

      .dir-rtl& {
        right: inherit;
        left: extract(@focus-outline, 1);
      }
    }

    &__strapline-title:focus .focus-rect {
      outline: @focus-outline;
    }
  }
}
